<div class='main-container'>

  <div class='title-container'>
    <div>
        <h2 class='title'>Shop<span *ngIf="productCategory">{{ ' / ' + productCategory.label }}</span> </h2>
    </div>
    <div class='filter-btn'>
        <button class="show-in-small-screen">FILTER</button>
    </div>

  </div>



  <div class='shop-container'>
      <div class='control-container'>
        <h3>FILTER</h3>
        <div class='controls'>
            <div>
              <search-input (chosenSearchTerm)="startSearchFromTerm($event)" (chosenValue)="goToProductPage($event)" ></search-input>
            </div>
            <hr />
            <div>
              <options-picker title='Categories' [options]='categories' (picked)="startSearchFromCategories($event)" ></options-picker>
            </div>
            <hr />
            <div>
              <range-picker [isCurrency]='true' (rangeSelectedEvent)='startSearchFromPrice($event)' ></range-picker>
            </div>
            <hr />
            <div>
              <options-picker title='Sort by' [options]='sortOptions' [singlePick]='true' (picked)="pickedSortingOption($event)" ></options-picker>
            </div>
        </div>

        

      </div>
      <div>
        <loader *ngIf="loadingProducts"></loader>
        <div class='products-container'>
          <product-window *ngFor="let p of productList" [product]='p'></product-window>
        </div>
      </div>
  </div>

</div>
