<div class="header" [class.closed]="headerCollapsed" >

  <div class="logo-container">
    <a [routerLink]="'/'">
      <img src="{{logo_small}}" class="closed">
      <img src="{{logo_large}}" class="open">
    </a>
  </div>

  <div class="header-items-container">

    <ul class="header-items">
      <ng-container *ngFor="let m of menuItems">
        <li *ngIf="m.shouldShow ? m.shouldShow() : true" class='hide-in-small-screen' (click)="m.action()" >{{m.label}}</li>
      </ng-container>
      <li class='show-in-small-screen' (click)='openMenu()'>MENU</li>
      <li><icon name='basket'></icon></li>
    </ul>
    
  </div>
</div>

