@import '../../../styles.scss';


$open-height : 130px;
$closed-height : 60px;

$open-top-margin : $open-height/2 - 10px;
$closed-top-margin : $closed-height/2 - 10px;


div.header{
    top:0;
    left:0;
    height: $open-height;
    display: grid;
    grid-gap: 1rem;
    position: fixed;
    width: 100vw;
    transition: $transition;
    grid-template-columns: [start] 1fr [middle] 1fr[end];

    & div{
        height: $open-height;
        padding: 0 1.5em;
        transition: $transition;
    }

    & div.logo-container{

        & img{
            transition: $transition;
            transition-duration: 0.5s;
        }

        & img.open{
            height: $open-height;
        }

        & img.closed{
            width:0;
        }
    }

    & div.header-items-container {
        
        & ul {
            padding: 0;
            margin: 0;
            list-style: none;

            height: $open-height;
            transition: $transition;
            
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            
            -webkit-flex-flow: row wrap;
            justify-content: space-around;

            & li{
                margin: 0 .25em;
                padding: 5px;
                cursor: pointer;
                text-align: center;

                &:hover{
                    font-weight: bold;
                    & div.sub-menu{
                        font-size: 1em;
                    }
                }

                &:active{
                    font-weight: bold;
                    color: lighten($color-dark, 20)
                }

                &.basket-icon p{
                    display: inline-block;
                    color: whitesmoke;
                    background: tomato;
                    padding: 0.3em;
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    line-height: 10px;
                    font-size: 8px;
                    margin-top: -1em;
                    margin-left: -0.3em;
                    position: absolute;
                    &.tiny{
                        font-size: 6px; 
                    }
                }

                & div.sub-menu{
                    font-size: 0em;
                    transition: none;
                    position: absolute;
                    padding: 0;
                    height: fit-content;
                    background-color: $color-offlight;
                    margin-top: 0.3em;
                    border-radius: 0.2em;
                    & div{
                        height: fit-content;
                        margin: 0.5em 0.3em;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }


            }

            
        }

    }        

    &.closed {
        text-align: left;
        height: $closed-height;

        box-shadow: $shadow-l;
        border-bottom: $color-light 2px solid;
        background-color: $color-offlight;


        & div.logo-container{
            & img.open{
                width: 0;
                height: 0; 
            }
    
            & img.closed{
                width: $closed-height;
            }
        }

        & div h1{
            margin:0;
            opacity: 0;
            font-size: 0em;
        }

        & div.header-items-container {
        
            & ul {
                height: $closed-height;
            }
        }
    }

}


@media all and (max-width: 895px) {
    // FOR SMALL SCREENS =>
    div.header div.header-items-container ul.header-items{
        justify-content: flex-end;
    }
}

