<div class="header" [class.closed]="headerCollapsed" >

  <div class="logo-container">
    <a [routerLink]="'/'">
      <img src="{{logo_small}}" class="closed">
      <img src="{{logo_large}}" class="open">
    </a>
  </div>

  <div class="header-items-container">

    <ul class="header-items">
      <ng-container *ngFor="let m of menuItems">
        <li *ngIf="m.shouldShow ? m.shouldShow() : true" class='hide-in-small-screen' (click)="m.action()" >
          {{m.label}}
          <div class="sub-menu" *ngIf="m.subMenu" >
            <div *ngFor="let sub of m.subMenu" (click)="sub.action()" >{{sub.label}}</div>
          </div>
        </li>
      </ng-container>
      <li class='show-in-small-screen' (click)='openMenu()'>MENU</li>
      <li class="basket-icon">
        <icon name='basket'></icon>
        <p *ngIf="_context.cartItemsCount() > 0" [class.tiny]='_context.cartItemsCount() > 99'>{{_context.cartItemsCount()}}</p> 
      </li>
    </ul>
    
  </div>
</div>

