@import '../../../styles.scss';


$open-height : 130px;
$closed-height : 60px;

$open-top-margin : $open-height/2 - 10px;
$closed-top-margin : $closed-height/2 - 10px;


div.header{
    top:0;
    left:0;
    height: $open-height;
    display: grid;
    grid-gap: 1rem;
    position: fixed;
    width: 100vw;
    transition: $transition;
    grid-template-columns: [start] 1fr [middle] 1fr[end];

    & div{
        height: $open-height;
        padding: 0 1.5em;
        transition: $transition;
    }

    & div.logo-container{

        & img{
            transition: $transition;
            transition-duration: 0.5s;
        }

        & img.open{
            height: $open-height;
        }

        & img.closed{
            width:0;
        }
    }

    & div.header-items-container {
        
        & ul {
            padding: 0;
            margin: 0;
            list-style: none;

            height: $open-height;
            transition: $transition;
            
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            
            -webkit-flex-flow: row wrap;
            justify-content: space-around;

            & li{
                margin: 0 .25em;
                padding: 5px;
                
                text-align: center;
            }
        }

    }        

    &.closed {
        text-align: left;
        height: $closed-height;

        box-shadow: $shadow-l;
        border-bottom: $color-light 2px solid;
        background-color: $color-offlight;


        & div.logo-container{
            & img.open{
                width: 0;
                height: 0; 
            }
    
            & img.closed{
                width: $closed-height;
            }
        }

        & div h1{
            margin:0;
            opacity: 0;
            font-size: 0em;
        }

        & div.header-items-container {
        
            & ul {
                height: $closed-height;
            }
        }
    }

}


@media all and (max-width: 895px) {
    // FOR SMALL SCREENS =>
    div.header div.header-items-container ul.header-items{
        justify-content: flex-end;
    }

    .hide-in-small-screen{
        display: none;
    }

    .show-in-small-screen{
        display: block;
    }
}

@media all and (min-width: 895px) {

    
    .hide-in-small-screen{
        display: block;
    }

    .show-in-small-screen{
        display: none;
    }
}
