.modal-container{
    z-index: 9998;
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
}

.modal-background{
    z-index: 9998;
    background-color: rgba(232, 232, 232, 0.94);
    height: 100%;
    width: 100%;
}

.modal{
    z-index: 9999;
    left: 50%;
    position: fixed;
    transform: translate(-50%,0%);

    text-align: center;
    padding: 1.25em;
    border-radius: .175em;
    border: solid 1px black;


}

.float{
    top: 120px;
    background-color: white; 
}

.text-left{
    text-align: left;
}
