<div class="main-container">

  <ng-container [ngSwitch]="productView">

    <!-- SIDE BY SIDE VIEW -->
    <ng-container *ngSwitchCase="'side-by-side'">
      <div class="side-by-side-container">
        <div class="one">
          <images-display [images]="product.images"></images-display>
        </div>
        <div class="two">
            <h1>{{product.name}}</h1>
            <on-fire></on-fire>
            <div class="price-and-cart">
              <price-display [price]="product.price" [salePrice]="product.salePrice" ></price-display>
              <div class="cart">
                <add-to-cart [product]="product"></add-to-cart>
              </div>
            </div>
            <p>{{product.description}}</p>
        </div>
        </div>
    </ng-container>

  </ng-container>

  

  

</div>