@import '../../../styles.scss';

div.main-container{
    padding: 1em 4em;
}

div.side-by-side-container{

    display: grid;
    grid-gap: 2em;
    grid-template-areas: "one two";
    grid-template-columns: [s] 2fr [m] 3fr [e];

    h1{margin-top:0;}
    
    div.one{
        grid-area: one;
    }

    div.two{
        grid-area: two;
    }

    .price-and-cart{
        display: grid;
        grid-template-columns: [s] 1fr [m] 1fr [e];
        grid-gap: 1em;
        margin-top: 1.3em;
        
        & div.cart{
            padding-top: 1em;
        }

    }

}


@media all and (max-width: 750px) {
    // FOR SMALL SCREENS =>
    div.main-container{
        padding: 1em;
    }
    div.side-by-side-container{
        grid-template-areas: "one" "two";
        grid-template-columns: [s] 1fr [e];
    }
}


div.stacked-container{

    width: 100%;
    transition: $transition;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: [start] 5vw [middle-left] calc(90vw - 2rem - 16px) [middle-right] 5vw [end];

    & div.content-container{
        padding: 1em;
    }

    & h1{
        margin-bottom: 0em;
        text-align: center;
    }

    & a.category-link{
        margin-right: .8em;
    }

    & div.details-cart-container{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: [start] 6fr [middle-left] 4fr [end];    
    }

    & .image-carousel-container{
        margin-top: 2em;
    }

    & .sale-box{
        & h2{
            display: inline-block;
        }
        & h3{
            display: inline-block;
            margin-left: .6em;
            text-decoration: line-through;
            color: rgba(0,0,0,0.5);
        }
    }



}