@import '../../../styles.scss';

$panel-width : 400px;
$left-border-weight : 2px;

.side-panel{
    top: 0;
    height: 100vh;
    position: fixed;
    width: $panel-width ;
    box-shadow: $shadow-m;
    transition: $transition;
    background-color: $color-offlight;
    left: -$panel-width - $left-border-weight;
    border-right: solid $color-light $left-border-weight;

    & span.close-menu{
        float: right;
        margin-right: 1em;
        cursor: pointer;
    }

    & .menu-content{
        padding-top: 1em;

        & .menu-title{
            padding-left: 1em;
        }

        & ul.menu-item-list{

            list-style: none;
            margin:0;
            padding:0;

            & li{
                margin: .5em 0;
                padding: .75em 1em;
                cursor: pointer;
                transition: $transition;
            
                &:hover{
                    background-color: $color-light;
                }

                &:active{
                    box-shadow : $shadow-l;
                }

                span.subMenuArrow{
                    font-size: .5em;
                    display: inline-block;
                    transition: $transition;
                    vertical-align: middle;
                }

                span.antirotate{
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                }

                span.rotate{
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                }
            
            }

        }

        & ul.menu-subitem-list{
            background-color: darken($color-offlight, 10);
            list-style: none;
            padding:0;
            margin:0;
            margin-top: -0.5em;

            li{
                padding-left:2em;
            }

            &.collapsed{
                font-size:0;
            }

        }


        & .bottom{
            position: absolute;
            bottom: .5em;
            width: calc(100% - 2em);
            text-align: center;
        }


    }

    &.open{
        left: 0;
    }

}


