@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

// FONTS 
$special-font: 'Julius Sans One', sans-serif;
$regular-font: 'Quicksand', sans-serif;

// TRANSITIONS
$transition: all 0.4s cubic-bezier(.25,.8,.25,1);

// SHADOWS
$shadow-l : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-m : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-h : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// COLORS
$color-light : #FFFFFF;
$color-dark : #1f1f1f;

$color-offlight : rgb(248, 248, 248);
$color-offdark : rgba(0,0,0, 0.5);

$color-highlight : #ce4343;

$color-confirm : #32cc70;
$color-error: tomato;


body{
    font-family: $regular-font;
    color: $color-dark;
}

h1, h2, h3{
    font-family: $special-font;
}

button{
    cursor: pointer;
    padding: .5em 1em;
    background-color: $color-offlight;
    border: 1px solid $color-dark;
    outline: none;
    border-radius: .15em;
    transition: $transition;
    &:hover{
        background-color: $color-light;
        box-shadow: $shadow-m;
    }
    &:active{
        box-shadow: $shadow-l;
    }
}

input{
    box-sizing : border-box;
    border: 0.05em solid $color-offdark;
    padding: .2em 0.5em;
    border-radius: .2em;
    outline: none;
    transition: $transition;
    font-family: $regular-font;
}

a{
    color: rgb(17, 137, 242);
    cursor: pointer;
    transition: $transition;
    &:hover{
        text-decoration: underline;
    }
    &:active{
        font-weight: bold;
    }
}


@media all and (max-width: 895px) {
    // FOR SMALL SCREENS =>
    .hide-in-small-screen{
        display: none;
    }

    .show-in-small-screen{
        display: block;
    }
}

@media all and (min-width: 895px) {
    // LARGER SCREENS =>
    .hide-in-small-screen{
        display: block;
    }

    .show-in-small-screen{
        display: none;
    }
}
